@color_text: #DDD;
@color_base: #2d2d2d;
@color_accent: #0FB;
@darken_amount: 5%;
@lighten_amount: 5%;
* {
  -webkit-user-select: none;
  font-family:sans-serif;
  cursor:default;
}
body, html {
  display:flex;
  flex-direction:column;
  height:100vh;
  color:@color_text;
  background-color:@color_base;
}
header,footer {
  display:flex;
  flex-shrink:0;
  background-color:@color_base;
}
header { padding: 0.5em; }
main {
  border-bottom:1px solid lighten(@color_base,@lighten_amount);
  background-color:@color_base;
  flex-grow:1;
  display:flex;
}
@control_size: 2em;
.button {
  width:@control_size;
  height:@control_size;
  display:flex;
  align-items:center;
  justify-content:center;
  &.disabled { color:darken(@color_base,@darken_amount)!important; }
  &:hover { color:@color_accent; }
  &:active { color:darken(@color_accent,@darken_amount*4); }
}
input[type="checkbox"]:checked + label {
  color:@color_accent;
  text-decoration:underline;
}
#controls { display:flex; }
#now-playing {
  display:flex;
  flex-direction:column;
  background-color: darken(@color_base,@darken_amount);
  border:1px solid lighten(@color_base,@lighten_amount);
  justify-content:space-around;
  padding: 0.3em;
  margin: 0 0.5em;
  flex-grow:1;
  white-space: nowrap;
  overflow: hidden;
  * { font-family:sans-serif; }
  .small{
    opacity: 0.5;
    font-weight: 100;
    font-size: 14px;
  }
}
#search {
  display:flex;
  align-self: center;
  input {
    border:1px solid lighten(@color_base,@lighten_amount);
    border-right:none;
    padding: 0.5em;
    background-color:darken(@color_base,@darken_amount);
    color:@color_text;
    &:focus { outline:none; }
  }
  i {
    border:1px solid lighten(@color_base,@lighten_amount);
    background-color:darken(@color_base,@darken_amount);
    border-left:none;
  }
}
#content {
  flex-grow:1;
  max-height: 100%;
  overflow-y: auto;
  > table {
    // width: 100%;
    thead { background-color: @color_base; }
    td,th {
      font-size: 0.9em;
      padding: 0.3em;
    }
    tbody {
      tr:nth-child(odd) { background-color:darken(@color_base,@darken_amount); }
      tr.selected { background-color:lighten(@color_base,@lighten_amount)!important }
    }
    .playing td {
      font-weight:bold;
      color:@color_accent;
    }
  }
}
#status {
  font-family:sans-serif;
  font-size:.7em;
  padding:.3em;
}
.hidden { display:none; }
