@color_text: #DDD;
@color_base: #2d2d2d;
@color_accent: #FFF;
@darken_amount: 5%;
@lighten_amount: 5%;
* {
  -webkit-user-select: none;
  font-family:sans-serif;
  cursor:default;
}
body, html {
  display:flex;
  flex-direction:column;
  height:100vh;
  color:@color_text;
}
header,footer {
  display:flex;
  flex-shrink:0;
  background-color:@color_base;
}
main {
  // border-top:1px solid lighten(@color_base,@lighten_amount);
  border-bottom:1px solid lighten(@color_base,@lighten_amount);
  background-color:@color_base;
  flex-grow:1;
  display:flex;
}
@control_size: 2em;
.button {
  width:@control_size;
  height:@control_size;
  display:flex;
  align-items:center;
  justify-content:center;
  border:1px solid lighten(@color_base,@lighten_amount);
  &:active {
    background-color:darken(@color_base,@darken_amount);
  }
}
input[type="checkbox"]:checked + label {
  background-color:darken(@color_base,@darken_amount);
}
#controls {
  display:flex;
  > * { border-left:none; }
}
#now-playing {
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  padding-left:.5em;
  flex-grow:1;
  * { font-family:sans-serif; }
}
#search {
  display:flex;
  justify-content:space-around;
  input {
    padding:0 1em;
    border:1px solid lighten(@color_base,@lighten_amount);
    border-right:none;
    background-color:darken(@color_base,@darken_amount);
    color:@color_text;
    &:focus { outline:none; }
  }
}
// #playlists {
//   flex-shrink:0;
//   border-right:1px solid lighten(@color_base,@lighten_amount);
//   li { padding:.4em; }
// }
#content {
  flex-grow:1;
  max-height:100%;
  overflow-y:auto;
  > table {
    width:100%;
    td,th {
      font-size:.9em;
      padding:.3em;
    }
    tbody {
      tr:nth-child(odd) { background-color:darken(@color_base,@darken_amount); }
      tr.selected { background-color:lighten(@color_base,@lighten_amount)!important }
    }
    .playing td { font-weight:bold; }
  }
}
#status {
  font-family:sans-serif;
  font-size:.7em;
  padding:.3em;
}
.hidden {
  display:none;
}
