doctype html
html
  //- Bootstrap makes me want to die.
  //- Overall it'll probably allow a cleaner experience. I just keep telling myself that.
  head
    title Lucki
    link(rel= 'stylesheet' href = appRoot + '/node_modules/font-awesome/css/font-awesome.min.css')
    link(rel= 'stylesheet' href = appRoot + '/tmp/theme.css')
    script(src= appRoot + '/views/browser.js')
  body#browser
    //- Modals
    #settings-modal.modal.fade(tabindex= '-1', role= 'dialog', aria-label= 'settings'): .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button.close(type= 'button', data-dismiss= 'modal', aria-label= 'Close')
          h4.modal-title Lucki Settings
        .modal-body: form
          .form-group
            label(for='settings-library-directory') Library Directory
            .input-group
              input#settings-library-directory.form-control(type= 'text', placeholder= 'Directory')
              .input-group-btn: button#find-library-directory.btn.btn-default(type= 'button'): .fa.fa-fw.fa-folder
          .checkbox: label
            input#settings-subdirectories(type= 'checkbox')
            | Search Subdirectories
          .form-group
            button#hide-columns.btn.btn-default(type='button') Hide Columns
            .hidden: #column-selection
    #volume-modal.modal.fade(tabindex= '-1', role= 'dialog', aria-labelledby= 'toggle-volume'): .modal-dialog.modal-sm(role='document'): .modal-content
      .modal-header
        button.close(type= 'button', data-dismiss= 'modal', aria-label= 'Close')
        h4.modal-title Volume
      .modal-body
        #volume.slider
    header
      .navbar.navbar-default
        form#controls.navbar-form.navbar-left(role= 'controls', style= 'margin:0; padding:10px')
          .btn-group
            button#previous-track.btn.btn-default(type='button'): .fa.fa-fw.fa-step-backward
            button#toggle-play.btn.btn-default(type='button'): .fa.fa-fw.fa-play
            button#next-track.btn.btn-default(type='button'): .fa.fa-fw.fa-step-forward
            button#toggle-shuffle.btn.btn-default(type='button'): .fa.fa-fw.fa-random
            button#toggle-repeat.btn.btn-default(type='button'): .fa.fa-fw.fa-repeat
            button#toggle-volume.btn.btn-default.dropdown-toggle(type='button', data-toggle='modal', data-target='#volume-modal'): .fa.fa-fw.fa-volume-up
        #now-playing.navbar-left.media
          .media-left: img#album-art.media-object
          .media-body
            #track-title.media-heading.text-primary
            span.text-muted
              span#track-artist
              span#track-seperator
              span#track-album
        .navbar-form.navbar-right.hidden-xs(role= 'search'): .input-group
          input#search-input.form-control(type= 'search', placeholder= 'Search', data-column= '1')
          .input-group-btn: button#search.btn.btn-default.fa.fa-search(type='button')
      #playhead.slider
    main: div: table.table.table-hover.table-condensed
      thead: tr
        th #
        th Title
        th Artist
        th Album
        th Year
        th Genre
        th Location
      tbody#track-list
