doctype html
html
  head
    title Visualizer
    link(rel= 'stylesheet' href = appRoot + '/node_modules/font-awesome/css/font-awesome.min.css')
    link(rel= 'stylesheet' href = appRoot + '/tmp/theme.css')
    script.
      global.appRoot = '#{appRoot.replace(/\\/g, "\\\\")}'
    script(src= appRoot + '/src/view/player.js')
    script(src= appRoot + '/src/view/settings.js')
    script(src= appRoot + '/src/view/visualizer.js')
  body#visualizer
    audio
    #settings-modal.modal.fade(tabindex= '-1', role= 'dialog', aria-label= 'settings')
      .modal-dialog.modal-lg: .modal-content: .modal-body: form
        .form-group
          label(for='settings-visualizer') Visualizer
          select#settings-visualizer-selected.form-control
            option(value='spectrum') Spectrum
            option(value='oscilliscope') oscilliscope
        .checkbox: label
          input#settings-visualizer-openOnLaunch(type= 'checkbox')
          | Open on Launch
