doctype html
html
  head
    title Visualizer
    style.
      body { margin:0; overflow:hidden; }
      canvas { width:100vw; height:100vh; }
    script(src= appRoot + '/views/player.js')
    script(src= appRoot + '/views/visualizer.js')
  body: audio
