<!doctype html>
<html>
  <script>
    console.time('require');
    let fs = require('fs');
    let pug = require('pug');
    let less = require('less');
    console.timeEnd('require');
    function getParam(name) {
      url = window.location.href;
      name = name.replace(/[\[\]]/g, "\\$&");
      var regex = new RegExp("[?&]"+name+"(=([^&#]*)|&|#|$)");
      var results = regex.exec(url);
      if (!results) return null;
      if (!results[2]) return '';
      return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
    function render(view) {
      if(!view) { alert("No view defined!"); return; }
      let theme = __dirname+'/../themes/Default/';
      let style = theme+'main.less';
      let content = fs.readFileSync(style).toString();
      console.time('less');
      less.render(content,{paths:[theme]}).then((output) => {
        console.timeEnd('less');
        console.time('script');
        require(__dirname+'/'+view+'/script');
        console.timeEnd('script');
        document.write('<link href="./reset.css" rel="stylesheet">'+
        '<link href="'+__dirname+'/../node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">'+
        '<style>'+output.css+'</style>');
        console.time('pug');
        document.write(pug.renderFile(__dirname+'/'+view+'/layout.pug'));
        console.timeEnd('pug');
      });
    }
    render(getParam('view'));
  </script>
</html>
