<!doctype html>
<html>
  <script>
    let fs = require('fs');
    let pug = require('pug');
    let less = require('less');
    function getParam(name) {
      url = window.location.href;
      name = name.replace(/[\[\]]/g, "\\$&");
      var regex = new RegExp("[?&]"+name+"(=([^&#]*)|&|#|$)");
      var results = regex.exec(url);
      if (!results) return null;
      if (!results[2]) return '';
      return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
    function render(view) {
      if(!view) { alert("No view defined!"); return; }
      let theme = __dirname+'/../themes/Default/';
      let style = theme+'main.less';
      let content = fs.readFileSync(style).toString();
      less.render(content,{paths:[theme]}).then((output) => {
        require(__dirname+'/'+view+'/script');
        document.write('<link href="./reset.css" rel="stylesheet">'+
          '<link href="'+require('node-font-awesome').css+'" rel="stylesheet">'+
          '<style>'+output.css+'</style>'+
          pug.renderFile(__dirname+'/'+view+'/layout.pug'));
      });
    }
    render(getParam('view'));
  </script>
</html>
