//- Probably valid.
title Lucki Media
link(href="./index.css" rel="stylesheet")
header
  div#controls
    i.fa.fa-step-backward#previous-track
    i.fa.fa-play#toggle-play
    i.fa.fa-step-forward#next-track
  div#now-playing
    span
    span
main
  //- div#playlists
    ul
      li All Songs
  div#content
    table
      thead
        tr
          th Track Name
          th Artist Name
          th Album Name
      tbody
footer
  span#status
div.hidden
  audio
