//- Probably valid.
title Lucki Media Player
header
  div#controls
    i.button.fa.fa-step-backward#previous-track
    i.button.fa.fa-play#toggle-play
    i.button.fa.fa-step-forward#next-track
    input.hidden#shuffle(name='shuffle' type="checkbox" value="false")
    label.button.fa.fa-random(for='shuffle')
  div#now-playing
    span
    span
  div#search
    input(type='text')
    i.button.fa.fa-search#submit-search
main
  //- div#playlists
    ul
      li All Songs
  div#content
    table
      thead
        tr
          th Track Name
          th Artist Name
          th Album Name
      tbody
footer
  span#status
div.hidden
  audio
