//- Probably valid.
title Lucki Media Player
header
  div#controls
    i.button.fa.fa-step-backward.fa-lg#previous-track
    i.button.fa.fa-play.fa-lg#toggle-play
    i.button.fa.fa-step-forward.fa-lg#next-track
    input.hidden#shuffle(name='shuffle' type="checkbox" value="false")
    label.button.fa.fa-random.fa-lg(for='shuffle')
  div#now-playing
    span
    span
  div#search
    input(type='text' placeholder="search")
    i.button.fa.fa-search#submit-search
main
  div#content
    table
      thead: tr
        th Title
        th Artist
        th Album
      tbody
footer: span#status
div.hidden: audio
