title Lucki Media Player
header
  div.controls
    i.button.fa.fa-step-backward.fa-lg#control-previous-track
    i.button.fa.fa-play.fa-lg#control-toggle-play
    i.button.fa.fa-step-forward.fa-lg#control-next-track
    i.button.fa.fa-random.fa-lg#control-toggle-shuffle
    i.button.fa.fa-repeat.fa-lg#control-toggle-repeat
  div#now-playing
  //- div#search
    input(type='text' placeholder="Search")
    i.button.fa.fa-search#submit-search
main
  div
    table
      thead: tr
        th Title
        th Artist
        th Album
      tbody#track-list
