button:focus {
  outline: none!important;
  border-color:@body-bg-light!important;
  background-color:@body-bg-dark!important;
  &:hover {
    border-color:#000!important;
    background-color:#000!important;
  }
}
.slider {
  background-color:@brand-primary;
  > span { background-color:@body-bg; }
  &, * { cursor:pointer; }
}

.playing td {
  font-weight:bold;
  color:@brand-primary;
}
#now-playing{
  background-color:@body-bg-dark;
  border: 1px solid @body-bg-light;
  margin:0 10px;
}
#track-seperator {
  &::before{ content: ' - '; }
}
#controls {
  button {
    &:not(:last-child) { border-right:none!important; }
    &:not(:first-child) { border-left:none!important; }
    &.enabled { color:@brand-primary; * {text-decoration:underline; } }
    &.disabled { color:@gray-darker!important; }
    &:hover {
      color:@brand-primary;
      &, * { cursor:pointer; }
    }
    &:active { color:@brand-primary; }
  }
}
::-webkit-scrollbar { width: 0; }
.filtered {
  display:none;
}
